@layer base {
  :root {
    --color-primary-50: #fdf3f3;
    --color-primary-100: #fbe6e5;
    --color-primary-200: #f9d1cf;
    --color-primary-300: #f4b0ad;
    --color-primary-400: #eb827e;
    --color-primary-500: #de5a55;
    --color-primary-600: #ca3d38;
    --color-primary-700: #b5332e;
    --color-primary-800: #8d2b27;
    --color-primary-900: #762926;
    --color-primary-950: #3f1210;

    --color-secondary-50: #fcf4f4;
    --color-secondary-100: #f9e8e7;
    --color-secondary-200: #f5d4d3;
    --color-secondary-300: #edb6b4;
    --color-secondary-400: #df8683;
    --color-secondary-500: #d16662;
    --color-secondary-600: #bc4a46;
    --color-secondary-700: #9e3a37;
    --color-secondary-800: #833431;
    --color-secondary-900: #6e302e;
    --color-secondary-950: #3b1514;

    --color-tertiary-50: #f2fbfa;
    --color-tertiary-100: #d2f5f2;
    --color-tertiary-200: #a5eae7;
    --color-tertiary-300: #70d8d7;
    --color-tertiary-400: #43bbbe;
    --color-tertiary-500: #2eb0b5;
    --color-tertiary-600: #1f7b82;
    --color-tertiary-700: #1c6469;
    --color-tertiary-800: #1b5054;
    --color-tertiary-900: #1b4346;
    --color-tertiary-950: #0a2429;

    --color-surface-50: #fafaf9;
    --color-surface-100: #f5f5f4;
    --color-surface-200: #e7e5e4;
    --color-surface-300: #d6d3d1;
    --color-surface-400: #a8a29e;
    --color-surface-500: #78716c;
    --color-surface-600: #57534e;
    --color-surface-700: #44403c;
    --color-surface-800: #292524;
    --color-surface-900: #1c1917;
    --color-surface-950: #0c0a09;
  }
}
